.External{
    background-color: rgb(77, 42, 165);
    color: aliceblue;
    font-size: 30px
}
li{
    list-style-type: none;
}

p{
    background-color: rgb(7, 240, 65);
    color: aliceblue;
    font-size: 30px
}